@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); /* font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* colors */
:root {
    --primary: #007DE7;
    --black: #262D37;
    --text: #7D8089;
}

body {
    background-color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/bg.svg');
}

/* ===================================================== default ===================================================== */
.container {
    width: 1208px;
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

a {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
/* ===================================================== header ===================================================== */
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo,
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu nav ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0px;
}

.active a,
.menu a:hover {
    font-weight: 700;
    color: var(--black);
    transition:all ease 0.3s;
}

header .contact-me {
    margin-left: 50px;
}

header .contact-me a {
    display: flex;
    align-items: center;
}

header .contact-me strong {
    font-weight: 700;
    color: var(--primary);
    margin-left: 10px;
}

.contact-me:hover {
    transform: translateX(10px);
    transform: scale(1.2);
    transition:all ease 0.3s;
}
/* ===================================================== warning ==================================================== */
.warning {
    height: 24px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
}

.warning .container {
    justify-content: center;
}

.warning p {
    display: flex;
    align-items:center;
    font-size: 16px;
    color: var(--black);
    animation:warning 20s infinite;
    text-decoration: underline;
}

.warning img {
    padding-right: 5px;
    padding-left: 5px;
}

@keyframes warning {
    0%{transform: translateX(0px)}
    25%{transform: translateX(-180px)}
    50%{transform: translateX(-0px)}
    75%{transform: translateX(180px)}
    100%{transform: translateX(0px)}
}
/* ===================================================== banner ===================================================== */
#banner {
    height: 568px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner--content,
.banner--thumbnail {
    display: flex;
    justify-content: center;
}

#banner h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
}

#banner p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    max-width: 465px;
}

.banner-options {
    display: flex;
    margin-top: 30px;
}

.banner--contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: var(--primary);
    border-radius: 10px;
}

.banner--contact-me strong {
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner--see-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 244px;
    height: 60px;
    border-radius: 10px;
}

.banner--see-linkedin strong {
    color:var(--primary);
    font-size: 20px;
    font-weight: 700;
}

.banner--contact-me:hover{
    transform: scale(1.2);
    transition:all ease 0.3s;
}

.banner--see-linkedin:hover {
    transform: translateX(10px);
    transition:all ease 0.3s;
}

.banner--thumbnail img {
    margin-top: 10px;
}
/* ===================================================== banner ===================================================== */
.floating-github {
    right: -140px;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 40px;
    margin-bottom: 23px;
}
/* ===================================================== footer ===================================================== */
footer {
    height: 40px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color:var(--text);
    margin-top: 20px;
    align-items:center;
    justify-content: center;
}

footer .container {
    height: 40px;
    align-items:center;
    justify-content:center;
}
/* ===================================================== responsive ===================================================== */